<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    Listing Services
  </div>

  <div class="panel-body">
    <div class="dataTables_wrapper">
      <div class="row">
        <div class="form-inline">
          <div class="col-sm-6">
            <%= link_to 'New Service', new_service_path, class: 'btn btn-default btn-sm' %>
          </div>
        </div>
      </div>

      <div class="row top5">
        <div class="col-sm-12">
          <table id="user-list" class="table table-striped table-bordered table-hover no-footer dtr-inline">
            <thead>
            <tr role="row">
              <th colspan="1">Name</th>
              <th colspan="1">Description</th>
              <th colspan="1">Time</th>
              <th colspan="1">Cost</th>
              <% if current_user.admin? and not current_user.is_impersonated? %>
                  <th colspan="1">Manage</th>
              <% end %>
            </tr>
            </thead>

            <tbody>
            <% @services.each do |service| %>
                <tr class="gradeA <%= cycle('even', 'odd') -%>" role="row">
                  <td><%= service.name %></td>
                  <td><%= service.description %></td>
                  <td><%= service.base_time %></td>
                  <td><%= service.base_cost %></td>
                  <% if current_user.admin? and not current_user.is_impersonated? %>
                      <td>
                        <%= link_to 'Edit', service_path(service) %> |
                        <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
