<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      Booking info
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <%= form_for(@visit) do |f| %>
              <%= f.hidden_field :workshop_id, value: @visit.workshop.try(:id) %>
              <div class="form-group">
                <%= f.label :client_name %><br>
                <%= f.text_field :client_name, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :phone_number %><br>
                <%= f.text_field :phone_number, class: 'form-control' %>
              </div>

              <%= f.fields_for :order do |builder| %>
                  <%= render 'order_fields', :f => builder %>
              <% end %>

              <div class="form-group">
                <%= f.label :description %><br>
                <%= f.text_area :description, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :start %><br>
                <%= f.datetime_select :date, class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit class:'btn btn-default' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>