<div class="order-row">
  <div class="order-cell">
    <%= f.link_to_remove_form 'X', class: 'mca-remove-content' %>
  </div>

  <div class="order-cell">
    <%= f.select :service_id,
                 options_for_select(Service.all.map {|c| [c.name, c.id, {:'data-base-cost' => c.base_cost,
                                                                         :'data-base-time' => c.base_time}]},
                                    f.object.service_id),
                 { include_blank: true },
                 { :class => 'mca-select-service' } %>
  </div>

  <div class="order-cell">
    <%= f.text_field :amount %>
  </div>

  <div class="order-cell">
    <%= f.text_field :cost %>
  </div>

  <div class="order-cell">
    <%= f.text_field :time %>
  </div>
</div>
