<div class="form-group">
  <%= f.label :time %><br>
  <%= f.text_field :time, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :cost %><br>
  <%= f.text_field :cost, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :time %><br>
  <%= f.text_field :time, class: 'form-control' %>
</div>

