<%= f.check_box :_destroy %>
<%= f.label :_destroy, 'Remove Entry' %>

<div class="form-group">
  <%= f.label :service_id %><br>
  <%= f.select :service_id,
               options_for_select(Service.all.map {|c| [c.name, c.id, {:'data-base-cost' => c.base_cost, :'data-base-time' => c.base_time}]}, f.object.service_id),
               include_blank: true,
               class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :cost %><br>
  <%= f.text_field :cost, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :time %><br>
  <%= f.text_field :time, class: 'form-control' %>
</div>

