<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= visit.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= visit.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= visit.date %>
</p>

<%= link_to 'Edit', edit_event_path(visit) %> |
<%= link_to 'Back', events_path %>
