<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= link_to 'New User', new_user_path, class: 'btn btn-primary btn-md' %>

<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
  <thead>
    <tr role="row">
      <th colspan="2">Name</th>
      <th colspan="1">Login</th>
      <th colspan="1">Email</th>
      <th colspan="1">Role</th>
      <th colspan="3">Manage</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="gradeA <%= cycle('even', 'odd') -%>" role="row">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %> </td>
        <td>
          <%= link_to 'Details', user %> |
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
