<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    Users
  </div>

  <div class="panel-body">
    <div class="dataTables_wrapper">
      <div class="row">
        <div class="form-inline">
          <div class="col-sm-6">
            <%= link_to 'New User', new_user_path, class: 'btn btn-default btn-sm' %>
          </div>
        </div>
      </div>

      <div class="row top5">
        <div class="col-sm-12">
          <table id="user-list" class="table table-striped table-bordered table-hover no-footer dtr-inline">
            <thead>
            <tr role="row">
              <th colspan="1">First Name</th>
              <th colspan="1">Last Name</th>
              <th colspan="1">Login</th>
              <th colspan="1">Email</th>
              <th colspan="1">Role</th>
              <th colspan="1">Locale</th>
              <% if current_user.admin? and not current_user.is_impersonated? %>
                  <th colspan="1">Workshop</th>
              <% end %>
              <th colspan="1">Manage</th>
            </tr>
            </thead>

            <tbody>
            <% @users.each do |user| %>
                <tr class="gradeA <%= cycle('even', 'odd') -%>" role="row">
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td><%= user.role.humanize %> </td>
                  <td><%= user.locale %> </td>
                  <% if current_user.admin? and not current_user.is_impersonated? %>
                      <td><%= user.workshop.description unless user.workshop.nil? %></td>
                  <% end %>
                  <td>
                    <%= link_to 'Edit', user_path(user) %> |
                    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
