<% if @order_form.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading"><%= pluralize(@order_form.errors.count, "error") %> prohibited this visit from being saved:</div>
      <div class="panel-body">
        <ul>
          <% @order_form.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= raw(t('.booking_info')) %>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <%= form_for(@order_form) do |f| %>
              <div class="form-group">
                <div class="form-inline">
                  <div class="input-daterange" id="mca-timeslot-range"
                       data-locale="<%= I18n.locale -%>"
                       data-date-format="<%= t('time.embed.slashes') -%>">
                    <%= f.text_field :start_date, class: 'form-control input-small', value: l(f.object.start_date, format: :slashes) %>
                    <span class="add-on"><%= raw(t('.range_to')) %></span>
                    <%= f.text_field :end_date, class: 'form-control input-small', value: l(f.object.end_date, format: :slashes) %>
                  </div>
                </div>
              </div>

              <div class="form-inline">
                <div class="form-group">
                  <%= f.select :color,
                               options_for_select(Order.event_colors.map {|c| ['', c, {:'data-color' => c}]},
                                                  f.object.color),
                               { include_blank: false },
                               { class: 'mca-select-color' } %>
                </div>
              </div>


              <%= f.hidden_field :client_id, class: 'form-control typeahead', data: {id: 'client-id'} %>

              <div id="client-name-input" data-workshop-id="<%= @order_form.workshop_id -%>" class="form-group">
                <%= f.label :client_name %><br>
                <%= f.text_field :client_name, placeholder: t('.client.name.placeholder'), class: 'form-control typeahead' %>
              </div>

              <div id="client-phone-input" data-workshop-id="<%= @order_form.workshop_id -%>" class="form-group">
                <%= f.label :client_phone %><br>
                <%= f.text_field :client_phone, placeholder: t('.client.phone.placeholder'), type: 'tel', class: 'form-control typeahead' %>
              </div>


              <%= f.hidden_field :car_id, class: 'form-control typeahead', data: {id: 'car-id'} %>

              <div class="form-group">
                <%= f.label :car_description %><br>
                <%= f.text_field :car_description, class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :car_license_id %><br>
                <%= f.text_field :car_license_id, class: 'form-control' %>
              </div>

              <!--< %= f.fields_for :orders do |builder| %>-->
                  <!--< %= render 'order_fields', :f => builder %>-->
              <!--< % end %>-->

              <div class="form-group">
                <%= f.label :description %><br>
                <%= f.text_area :description, class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit class:'btn btn-default' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>