<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('.title_html') %>
  </div>

  <div class="panel-body">
    <div class="row top5">
      <div class="col-sm-12">
        <div id="calendar"
             data-workshop-id="<%= @workshop.id -%>"
             data-locale="<%= I18n.locale -%>"
             data-cursor-date="<%= @cursor_date -%>"></div>
      </div>
    </div>
  </div>
</div>
