<!DOCTYPE html>
<html>
<head>
  <title>Mca</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.I18n = <%= current_translations.to_json.html_safe %>
  </script>
</head>
<body>

<div id="wrapper">
  <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'MCA v0.1', root_url, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= fa_icon 'user' %>
                  <%= fa_icon 'caret-down' %>
                </a>
                <ul class="dropdown-menu dropdown-user">
                  <li>
                    <%= link_to(user_path(current_user)) do %>
                        <%= fa_icon 'user', text: 'User Profile' %>
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to(destroy_user_session_path, :method => :delete) do %>
                        <%= fa_icon 'sign-out', text: 'Logout' %>
                    <% end %>
                  </li>
                </ul>
              </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <%= yield %>
</div>
</body>
</html>
